version: "3.8"

services:
  backend:
    image: codeai123/my-backend:latest
    container_name: backend
    ports:
      - "8080:8080"
    restart: always

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always

volumes:
  redis-data:
